.chatList {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chatList::-webkit-scrollbar {
  display: none;
}

.myChat {
  background: linear-gradient(to bottom right, #3c1053, #851f5d, #c1445a);
}

.ssifiChat {
  background: linear-gradient(to bottom right, #c18dd9, #fa8dc7, #ff97a7);
}

.message-box {
  position: relative;
  max-width: 70%;
  animation: speech 0.7s linear 1;
}

.myChat,
.ssifiChat {
  position: relative;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  border-radius: 15px;
}

.loading {
  position: relative;
  padding: 10px 10px 10px 10px;
  max-width: 70%;
  margin-top: 20px;

  border-radius: 15px;
  background: linear-gradient(to bottom right, #c18dd9, #fa8dc7, #ff97a7);
}

.chatContent {
  margin: 0px;
  white-space: normal;
  word-break: normal;
  word-wrap: break-word;
}

.ssifi-content {
  display: flex;
  flex-direction: column;
}

.spin-pulse {
  animation: circle 1.2s steps(8) infinite;
}

.play,
.pause {
  cursor: pointer;
}

@keyframes speech {
  0% {
    top: -8px;
  }
  25% {
    top: 5px;
  }
  50% {
    top: 8px;
  }
  75% {
    top: -8px;
  }
  100% {
    top: -8px;
  }
}

@keyframes circle {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}
