.intro-script {
  display: flex;
  justify-content: center;
  animation: appear 2s;
  overflow: hidden;
  white-space: nowrap;
}

.intro-script span {
  display: inline-block;
}

.intro-script-wait {
  font-size: 1.5rem;
  color: white;
  font-family: 'SpoqaHanSansNeo Regular';
  cursor: pointer;
  animation: blink 3s infinite;
}

.intro-button {
  animation: appear 2s;
}

.intro-button:hover {
  font-weight: bolder;
  box-shadow: 3px 3px 0px rgba(255, 255, 255, 0.5), 8px 8px 10px rgba(255, 255, 255, 0.5);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
