.intro-script {
  display: flex;
  justify-content: center;
  animation: type 2s;
  overflow: hidden;
  white-space: nowrap;
}

.intro-script span {
  display: inline-block;
}

.intro-button:hover {
  font-weight: bolder;
  box-shadow: 3px 3px 0px rgba(255, 255, 255, 0.5), 8px 8px 10px rgba(255, 255, 255, 0.5);
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 22ch;
  }
}
