.center {
  position: relative;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background: transparent;
  animation: updown 4s ease-in-out infinite;
}

.moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #f6f3ff;
  box-shadow: 0 0 15px rgba(230, 190, 255, 0.5), 0 0 30px rgba(230, 190, 255, 0.5), 0 0 45px rgba(230, 190, 255, 0.5),
    0 0 60px rgba(230, 190, 255, 0.5), 0 0 10px rgba(230, 190, 255, 0.5),
    0 -25px 8px -22px rgba(246, 243, 255, 0.5) inset, -10px -20px 25px 0px rgba(173, 83, 137, 0.4) inset,
    0px -50px 40px 0px rgba(173, 83, 137, 0.5) inset;
}

@keyframes updown {
  0%,
  100% {
    transform: translate(0, -20px);
  }
  50% {
    transform: translate(0, 20px);
  }
}
