.main_box {
  width: 50%;
  height: 20%;
  min-width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px white;
  position: absolute;
  background-color: white;
}

.parent,
.child,
.subchild {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
  border-left: 10px solid white;
  border-right: 10px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: ani3 3s ease-out infinite;
}

.child {
  width: 75%;
  height: 75%;
  animation: ani2 3s ease-out infinite;
}
@keyframes ani2 {
  0% {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  25% {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  50% {
    border-left: 10px solid white;
    border-right: 10px solid white;
  }
  75% {
    border-left: 10px solid white;
    border-right: 10px solid white;
  }
  100% {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
.subchild {
  width: 65%;
  height: 65%;
  animation: ani1 3s ease-out infinite;
}

@keyframes ani1 {
  0% {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  25% {
    border-left: 10px solid white;
    border-right: 10px solid white;
  }
  50% {
    border-left: 10px solid white;
    border-right: 10px solid white;
  }
  75% {
    border-left: 10px solid white;
    border-right: 10px solid white;
  }
  100% {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}

@keyframes ani3 {
  0% {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  25% {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  50% {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  75% {
    border-left: 10px solid white;
    border-right: 10px solid white;
  }
  100% {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
.stt-wrapper {
  width: 40%;
  transition: all 0.7s ease;
}

.mic-btn {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.stt-result {
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  text-align: center;
  padding-left: 30px;
}

#stt-wrapper {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

#stt-wrapper:checked ~ .stt-wrapper {
  width: 80%;
  border: 3px solid white;
}

.voice-text-input {
  width: 100%;
  height: 100%;
  outline: none;
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.voice-text-box {
  word-break: break-all;
}
