.stt-wrapper {
  width: 40%;
  transition: all 0.7s ease;
}

.mic-btn {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.stt-result {
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  text-align: center;
  padding-left: 30px;
}

#stt-wrapper {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

#stt-wrapper:checked ~ .stt-wrapper {
  width: 80%;
  border: 3px solid white;
}

.voice-text-input {
  width: 100%;
  height: 100%;
  outline: none;
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.voice-text-box {
  word-break: break-all;
}
