.chatWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.chatList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chatList::-webkit-scrollbar {
  display: none;
}

.myChat {
  background-color: gray;
}

.myChat,
.ssifiChat {
  position: relative;
  padding: 10px 10px 10px 10px;
  width: 80%;
  margin-top: 20px;

  border: 1px solid black;
  border-radius: 15px;
}

.chatContent {
  margin: 0px;
  white-space: normal;
  word-break: normal;
  word-wrap: break-word;
}
