.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  position: relative;
  width: 100vw;
  max-width: 500px;
}

#tsparticles {
  position: absolute;
  width: 100vw;
  max-width: 500px;
  height: 100%;
  background-color: #ad5389;
  background: linear-gradient(to bottom, #3c1053, #851f5d, #ff97a7);
  /* background: linear-gradient(to bottom, #280a38, #934775); */
  z-index: -1;
}

.transition-group {
  height: 100%;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms linear 250ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
